.card {
  margin: 1rem 1.5rem;
  padding: 1.5rem;
  max-width: 20rem;
  text-align: left;
  color: inherit;
  background-color: #fafafa;
  text-decoration: none;
  border: 1px solid #efefef;
  border-radius: 5px;
  transition: color 0.15s ease, border-color 0.15s ease,
    background-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  /* color: #0070f3; */
  border-color: #ddd;
  background-color: #f7f7f7;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem auto 0.5rem;
}

.disabledButton {
  width: 150px;
}
